In [1]:
import pandas as pd

In [2]:
countries_df = pd.read_csv("./data/countries.csv", index_col=0)
countries_df

   country      area     capital  population
KR   Korea     98480       Seoul    51780579
US     USA   9629091  Washington   331002825
JP   Japan    377835       Tokyo   125960000
CN   China   9596960     Beijing  1439323688
RU  Russia  17100000      Moscow   146748600

In [3]:
# end