In [1]:
import pandas as pd
bio_data = {'성명' : ['이겨레', '조약돌'],
            '나이' : [25, 19],
            '성별' : ['남','여'],
            '키' : [185, 163],
            '체중' : [89, 53]}
df = pd.DataFrame(bio_data)
df

    성명  나이 성별    키  체중
0  이겨레  25  남  185  89
1  조약돌  19  여  163  53

In [2]:
df.set_index('성명', inplace=True)
df

     나이 성별    키  체중
성명
이겨레  25  남  185  89
조약돌  19  여  163  53

In [3]:
df.to_excel("df_patient.xlsx")

In [4]:
import pandas as pd
bio_data = {'성명' : ['이겨레', '조약돌'], '나이' : [25, 19],
            '성별' : ['남','여'], '키' : [185, 163],
            '체중' : [89, 53]}
df_01 = pd.DataFrame(bio_data)
df_01.set_index('성명', inplace=True)
df_01

     나이 성별    키  체중
성명
이겨레  25  남  185  89
조약돌  19  여  163  53

In [5]:
pulse_data = {'환자코드' : ['A00301', 'D00809'],
              '수축기' : [123, 118], '이완기' : [88, 79] }
df_02 = pd.DataFrame(pulse_data)
df_02.set_index('환자코드', inplace=True)
df_02

        수축기  이완기
환자코드
A00301  123   88
D00809  118   79

In [6]:
d_save = pd.ExcelWriter('df_blood.xlsx')
df_01.to_excel(d_save, sheet_name='생체 데이터')
df_02.to_excel(d_save, sheet_name='혈압 데이터')
d_save.save()

In [7]:
import pandas as pd
data = 'df_patient.xlsx'
df_01 = pd.read_excel(data)
df_01

    성명  나이 성별    키  체중
0  이겨레  25  남  185  89
1  조약돌  19  여  163  53

In [8]:
df_02 = pd.read_excel(data, header=None)
df_02

     0   1   2    3   4
0   성명  나이  성별    키  체중
1  이겨레  25   남  185  89
2  조약돌  19   여  163  53

In [9]:
# end