In [1]:
import pandas as pd
bio_data = {'성명' : ['이겨레', '조약돌'], '나이' : [25, 19],
            '성별' : ['남','여'], '키' : [185, 163],
            '체중' : [89, 53]}
df = pd.DataFrame(bio_data)
df.set_index('성명', inplace=True)
df

     나이 성별    키  체중
성명
이겨레  25  남  185  89
조약돌  19  여  163  53

In [2]:
df.to_csv('df_patient.csv')

In [3]:
import pandas as pd
data = 'df_patient.csv'
df = pd.read_csv(data, encoding='utf-8')
df

    성명  나이 성별    키  체중
0  이겨레  25  남  185  89
1  조약돌  19  여  163  53

In [4]:
import pandas as pd
bio_data = {'성명' : ['이겨레', '조약돌'], '나이' : [25, 19],
            '성별' : ['남','여'], '키' : [185, 163],
            '체중' : [89, 53]}
df = pd.DataFrame(bio_data)
df.set_index('성명', inplace=True)
df

     나이 성별    키  체중
성명
이겨레  25  남  185  89
조약돌  19  여  163  53

In [5]:
df.to_json('df_patient.json')

In [6]:
df = pd.read_json('df_patient.json')
df

     나이 성별    키  체중
이겨레  25  남  185  89
조약돌  19  여  163  53

In [7]:
# end