In [1]:
import pandas as pd
data = 'member.csv'
df = pd.read_csv(data)
df.count()

코드       10
이름       10
성별       10
연령       10
혈액형      10
키        10
체중       10
BMI      10
운동시작일     6
dtype: int64

In [2]:
type(df.count())

pandas.core.series.Series

In [3]:
import pandas as pd
df = pd.read_csv('member.csv')
result = df['혈액형'].value_counts()
result

A     3
B     3
O     2
AB    2
Name: 혈액형, dtype: int64

In [4]:
type(result)

pandas.core.series.Series

In [5]:
import warnings
warnings.filterwarnings('ignore')

In [6]:
import pandas as pd
df = pd.read_csv('member.csv')
df.mean()

코드     342056.500
연령         39.000
키         172.700
체중         67.300
BMI        22.163
dtype: float64

In [7]:
df['BMI'].mean()

22.163

In [8]:
df[ ['키', '체중'] ].mean()

키     172.7
체중     67.3
dtype: float64

In [9]:
import pandas as pd
df = pd.read_csv('member.csv')
df.median()

코드     335290.000
연령         38.000
키         172.500
체중         60.000
BMI        20.155
dtype: float64

In [10]:
df['연령'].median()

38.0

In [11]:
df[['키', '체중']].median()

키     172.5
체중     60.0
dtype: float64

In [12]:
import pandas as pd
df = pd.read_csv('member.csv')
df.max()

코드     503546
이름        황산성
성별          여
연령         64
혈액형         O
키         193
체중         95
BMI     27.46
dtype: object

In [13]:
df['연령'].max()

64

In [14]:
df[['키', '체중']].max()

키     193
체중     95
dtype: int64

In [15]:
import pandas as pd
df = pd.read_csv('member.csv')
df.min()

코드     185823
이름        강산애
성별          남
연령         19
혈액형         A
키         157
체중         48
BMI     19.47
dtype: object

In [16]:
df['연령'].min()

19

In [17]:
df[['키', '체중']].min()

키     157
체중     48
dtype: int64

In [18]:
import pandas as pd
df = pd.read_csv('member.csv')
df.std()

코드     117049.733168
연령         15.202339
키          11.898179
체중         17.807926
BMI         3.086555
dtype: float64

In [19]:
df['연령'].std()

15.20233900132184

In [20]:
df[['키', '체중']].std()

키     11.898179
체중    17.807926
dtype: float64

In [21]:
import pandas as pd
df = pd.read_csv('member.csv')
df.corr()

           코드        연령         키        체중       BMI
코드   1.000000  0.572318 -0.343057 -0.377510 -0.397892
연령   0.572318  1.000000 -0.426925 -0.316438 -0.176555
키   -0.343057 -0.426925  1.000000  0.942296  0.796228
체중  -0.377510 -0.316438  0.942296  1.000000  0.950220
BMI -0.397892 -0.176555  0.796228  0.950220  1.000000

In [22]:
df[['연령', 'BMI']].corr()

           연령       BMI
연령   1.000000 -0.176555
BMI -0.176555  1.000000

In [23]:
df[['키', '체중']].corr()

           키        체중
키   1.000000  0.942296
체중  0.942296  1.000000

In [24]:
# end